:root {
    --shaddow:0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
  }

body{
    background-color: #2f4464;
}
h3{
    font-family: system-ui;
    color: black;}






#video-streams{
	display: grid;
	grid-template-columns: 1fr 1fr;
    gap: 2em;
	height: 85vh;
	width: 75%;
	margin: 0 auto;
}

.video-player{
	height: 300px;
	width: 100%;
    background-color: black;
}
.video-player > *{
    border-radius: 5px;
}

#controls-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: fixed;
    bottom: 20px;
}

.control-icon{
    height: 20px;
    width: 20px;
    box-shadow: var(--shaddow);
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;

}

#leave-btn{
    background-color: rgb(255, 80, 80, 1);
}


@media screen and (max-width: 1650px){
    .video-container{
        flex-basis: 300px;
        min-height: 200px;
    }
}



